/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/
main {
  min-height: 50em;
}
/* Mobile */
@media only screen and (min-width: 0em) {
  #hero {
    margin-top: 7.4em;
    padding-top: 0.75em;
  }
  #hero .container {
    display: flex;
    max-width: 65em;
    align-items: center;
  }
  #hero .hero-left {
    margin-right: 1em;
    flex: 1;
  }
  #hero .hero-left h1 {
    font-size: 2.9em;
    line-height: 1.1;
    margin-bottom: 0.43103448em;
  }
  #hero .hero-left h2 {
    font-size: 0.95em;
    font-weight: 400;
    line-height: 1.7;
    max-width: 25rem;
    margin-bottom: 2.10526316em;
  }
  #hero .hero-left a {
    margin-bottom: 2.5em;
  }
  #hero .hero-left a i {
    font-size: 0.8em;
    margin-left: 0.5em;
  }
  #hero .hero-left .hero-divider {
    margin-bottom: 2.35em;
    padding-bottom: 0.15em;
    background-color: #ecebeb;
    width: 100%;
    display: inline-block;
    max-width: 20em;
  }
  #hero .hero-left .customer-count-container {
    display: flex;
  }
  #hero .hero-left .customer-count-container div {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: start;
  }
  #hero .hero-left .customer-count-container div:first-child {
    margin-right: 2em;
  }
  #hero .hero-left .customer-count-container h3 {
    margin-bottom: 0;
    font-size: 1.75em;
  }
  #hero .hero-left .customer-count-container p {
    font-size: 0.8em;
  }
  #hero .hero-right {
    flex: 1.6;
  }
  #hero .hero-right img {
    width: 100%;
    max-height: 30em;
  }
  #hero {
    visibility: hidden;
    display: none;
  }
}
/* Tablet */
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #hero {
    visibility: visible;
    display: block;
  }
}
/* Large Desktop */
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #cards {
    padding-top: 2.5em;
  }
  #cards .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card-yellow {
    background-color: #ffe979;
  }
  .card-green {
    background-color: #b7f598;
  }
  .card-blue {
    background-color: #7ed5f0;
  }
  .cards-item {
    text-align: center;
    margin-bottom: 2.5em;
    padding: 2em;
    border-radius: 0.25em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    max-width: 23.25em;
  }
  .cards-item .card-subtitle {
    margin-bottom: 0.71428571em;
    display: inline-block;
    font-weight: 700;
    color: #383838;
    font-size: 0.7em;
    letter-spacing: 0.07142857em;
  }
  .cards-item .card-title {
    font-size: 1.6em;
    margin-bottom: 1.25em;
  }
  .cards-item .card-image {
    width: 60%;
    margin-bottom: 2em;
  }
  .cards-item .card-tag-yellow {
    background-color: #e6c419;
  }
  .cards-item .card-tag-green {
    background-color: #5ab42d;
  }
  .cards-item .card-tag-blue {
    background-color: #1591b7;
  }
  .cards-item .card-tags {
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cards-item .card-tags .card-tag {
    margin: 0.28571429em;
    padding: 0.85714286em 1.07142857em;
    color: white;
    font-size: 0.7em;
    font-weight: 700;
    border-radius: 0.78571429em;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #cards .container {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  #cards .container .cards-item {
    flex: 1 1 0px;
  }
  #cards .container .cards-item .card-tags {
    max-width: 100%;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #cards {
    padding-top: 5em;
  }
}
/* Large Desktop */
/*-- -------------------------- -->
<---           PROJECTS          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #projects .projects-left {
    max-width: 100%;
  }
  #projects .projects-icon,
  #projects h2,
  #projects p {
    margin: 0 auto;
    text-align: center;
  }
  #projects .projects-icon {
    margin: 0 auto;
    display: block;
  }
  #projects .projects-icon img {
    max-width: 3.25em;
  }
  #projects h2 {
    font-size: 2.3em;
    margin: 0.66666667em auto 0.44444444em auto;
    color: var(--btn);
    max-width: 18.55555556em;
  }
  #projects p {
    color: var(--btn);
    margin-bottom: 2.10526316em;
    max-width: 43.94736842em;
    font-size: 1.1875rem;
    line-height: 1.57894737em;
  }
  #projects .desktop-project-image {
    display: none;
    visibility: hidden;
    transition: opacity .2s linear;
  }
  #projects .mobile-project-image {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: opacity .2s linear;
    max-width: 100%;
  }
  #projects .project-image-active {
    visibility: visible;
    opacity: 1;
    height: auto;
  }
  #projects .projects-button {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 0.95em 3.5em 0.95em 1.5em;
    border: none;
    background-color: inherit;
    font-size: 1.25rem;
    color: var(--btn);
    font-weight: 800;
    text-transform: none;
    width: 100%;
    margin-bottom: 0.75em;
    transition: all .2s;
    line-height: normal;
    border-radius: 12px;
  }
  #projects .projects-button i {
    font-size: 1.65625rem;
    margin-right: 0.75rem;
  }
  #projects .projects-button:hover {
    background-color: var(--btnHoverProjects);
  }
  #projects .project-button-active {
    background-color: var(--btnHoverProjects);
  }
}
/* Tablet */
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #projects p {
    margin-bottom: 3.75em;
  }
  #projects .projects-container {
    display: flex;
    justify-content: space-between;
  }
  #projects .projects-container .projects-right {
    width: 70%;
    height: 100%;
  }
  #projects .projects-container .mobile-project-image {
    display: none;
    visibility: hidden;
  }
  #projects .projects-container .desktop-project-image {
    display: inline-block;
    visibility: visible;
    max-width: 100%;
  }
  #projects .projects-container .projects-button {
    justify-content: flex-start;
  }
}
/* Large Desktop */
/*-- -------------------------- -->
<---           section          -->
<--- -------------------------- -*/
/* Mobile */
/* Tablet */
/* Small Desktop */
/* Large Desktop */
